html {
    height: 100%;
    font-family: "Helvetica Neue" Helvetica;

    background: #fbf8d1;
    background-image:url(../img/header.png);
    background-repeat:no-repeat;
    background-position: top center;
}

header {
    background: transparent url(../img/logo.png) no-repeat left center;
    background-size: contain;
    height: auto;
    text-align: right;
    font-size: 65px;
    line-height: inherit;
    padding: 20px;
    color: white;
    text-shadow: 2px 2px 2px #111;
    margin-left: 100px;
    margin-right: 100px;
}

h1 {
    text-align: center;
    margin-top: 15%;
}

ul {
  font-size: 32px;
  text-align: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
    color: #FF6600;
    text-shadow: 2px 2px 2px #FFF;
    margin: 30px;
    text-align: center;
    border-radius: 15px;
    background-color: rgba(230,230,230,0.6);
    box-shadow: 5px 5px 10px #555;
    padding: 20px;
}

li div {
  font-size: 25px;
  margin: -5px 10px;
  color: #8800BB;
  text-align: right;
}

.twitter-timeline {
  width: 90% !important;
  height: 75% !important;
  margin: 90px auto;
  display: block;
}



h2 {
    text-align: center;
    margin-top: 15%;
    clear: both;
}

.talk {
    color: #FF6600;
    text-shadow: 2px 2px 2px #FFF;
    margin: 0.5%;
    float: left;
    text-align: center;
    font-size: 25px;
    border-radius: 15px;
    background-color: rgba(230,230,230,0.6);
    box-shadow: 5px 5px 10px #555;
    height: 150px;
    overflow: hidden;
}

.talk .room {
    color: #8800BB;
    font-size: 18px;
    font-weight: bold;
    line-height: 50px;
    clear: both;
}

.talk .time {
    float: right;
    margin: 3px 6px -10px;
    font-size: 17px;
    color: #444;
    text-shadow: 1px 1px 1px #EEE;
}

.next {
    opacity: 0.5;
    font-size: 18px;
    height: 120px;
}
.next .room {
    line-height: 45px;
}
