html {
    height: 100%;
    font-family: "Helvetica Neue" Helvetica;

    background-image:url(../img/background.jpg);
    background-repeat:no-repeat;
    background-size:cover;
    background-position: top center;
    color: #DEDEDE;
}

header {
    background: transparent url(../img/logo.png) no-repeat left center;
    background-size: contain;
    height: auto;
    text-align: right;
    font-size: 65px;
    line-height: inherit;
    padding: 20px;
    color: white;
    text-shadow: 2px 2px 2px #111;
}

h1 {
    text-align: center;
    margin-top: 5%;
}

ul {
  font-size: 32px;
  text-align: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  color: #FF6600;
    text-shadow: 2px 2px 2px #444;
    margin: 30px;
    text-align: center;
    border-radius: 15px;
    background-color: rgba(230,230,230,0.6);
    box-shadow: 5px 5px 10px #555;
    padding: 20px;
}

li div {
  font-size: 25px;
  margin: -5px 10px;
  color: #8800BB;
  text-align: right;
}

.twitter-timeline {
  width: 90% !important;
  height: 80% !important;
  margin: 20px auto !important;
  display: block !important;
}
