html {
    height: 100%;
    font-family: "Helvetica Neue" Helvetica;

    background-image:url(../img/background.jpg);
    background-repeat:no-repeat;
    background-size:cover;
    background-position: top center;
}

header {
    background: transparent url(../img/logo.png) no-repeat left center;
    background-size: contain;
    height: auto;
    text-align: right;
    font-size: 65px;
    line-height: inherit;
    padding: 20px;
    color: white;
    text-shadow: 2px 2px 2px #111;
}

h1 {
    text-align: center;
    margin: 5%;
}

h2 {
    text-align: center;
    margin-top: 25%;
    clear: both;
}

.talk {
    color: #FF6600;
    text-shadow: 2px 2px 2px #FFF;
    margin: 0.5%;
    float: left;
    text-align: center;
    font-size: 20px;
    border-radius: 15px;
    background-color: rgba(230,230,230,0.6);
    box-shadow: 5px 5px 10px #555;
    height: 150px;
    overflow: hidden;
}

.talk .room {
    color: #8800BB;
    font-size: 18px;
    font-weight: bold;
    line-height: 50px;
    clear: both;
}

.talk .time {
    float: right;
    margin: 3px 6px -10px;
    font-size: 17px;
    color: #444;
    text-shadow: 1px 1px 1px #EEE;
}

.next {
    opacity: 0.5;
    font-size: 18px;
    height: 120px;
}
.next .room {
    line-height: 45px;
}
